.task-details-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
  }
  
  .task-details-heading {
    text-align: center;
    color: #333;
  }
  
  .task-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .task-info {
    color: #555;
    margin-bottom: 15px;
    padding: 2%;
  }
  
  .task-time,
  .task-notes {
    color: #555;
    margin-bottom: 10px;
  }
  
  .sticky-notes-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sticky-note-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-sticky-note-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-sticky-note-btn:hover {
    background-color: #0056b3;
  }
  